<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">

  <div class="container ">

    <a class="navbar-brand "  href="/">
      Auction Admin
    </a>


    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>


    <div class="collapse navbar-collapse" id="navbarButtonsExample">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/products/admin">All Products</a>

      </ul>




      <div class="dropdown">
        <button class="btn btn-primary me-3  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{#if name}}
          {{name}}
          {{else}}
          Sign Up &nbsp; &nbsp; &nbsp;
          {{/if}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {{#if name}}
          <a class="dropdown-item" href="/login/logout">logout</a>
          {{else}}
          <a class="dropdown-item" href="/login">login</a>
          {{/if}}


        </div>
      </div>

    </div>

  </div>

</nav>