<div class="container p-3 "
    style="width: 600px; height: 560px;; background-color: #6699FF; margin-top : 50px; border-radius: 25px;">
    <div class="container p-2 "
        style="width: 500px; background-color: margin-top : 50px; border-radius: 25px;">
        <form action="/products/admin/addproducts" method="post" enctype="multipart/form-data">
            <div class="form-group p-2">
                <label for="pname">Product Name</label>
                <input type="text" class="form-control" id="pname" name="pname">
            </div>

            <div class="form-group p-2">
                <label for="pcategory">Product Category</label>
                <input type="text" class="form-control" id="pcategory" name="pcategory">
            </div>

            <div class="form-group p-2">
                <label for="pdis">Product Description</label>
                <input type="text" class="form-control" id="pdis" name="pdis">
            </div>

            <div class="form-group p-2">
                <label for="pprice">Product Price</label>
                <input type="text" class="form-control" id="pprice" name="pprice">
            </div>

            <div class="form-group p-2">
                <label for="pfile">Product Image</label>
                <input type="file" class="form-control" id="pfile" name="pimage">
            </div>

            <div class="form-group p-3">
                <input type="Submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
</div>